// Media-max mixin ------------------------------------------------------------
//
// Generates a max-width media query
//
// $value:	The breakpoint, in px
// $query:	What type of media this applies to, defaults to screen

@mixin media-max ($value, $query: 'screen') {

    $value: em($value);
    @media #{$query} and (max-width: #{$value}) {
        @content;
    }
}

// Media-min mixin ------------------------------------------------------------
//
// Generates a min-width media query
//
// $value:	The breakpoint, in px
// $query:	What type of media this applies to, defaults to screen

@mixin media-min ($value, $query: 'screen') {

    $value: em($value);
    @media #{$query} and (min-width: #{$value}) {
        @content;
    }
}

// Media-min-max mixin ------------------------------------------------------------
//
// Generates a inbetween-widths media query
//
// $valueMin:	The lower breakpoint, in px
// $valueMax:	The upper breakpoint, in px
// $query:		What type of media this applies to, defaults to screen

@mixin media-min-max ($valueMin, $valueMax, $query: 'screen') {

    $valueMin: em($valueMin);
    $valueMax: em($valueMax);
    @media #{$query} and (min-width: #{$valueMin}) and (max-width: #{$valueMax}) {
        @content;
    }
}

// Highres mixin --------------------------------------------------------------
//
// Generates a media query for high-resolution displays

@mixin highres($ratio: 1.3) {
    @media
    only screen and (-webkit-min-device-pixel-ratio: $ratio),
    only screen and (   min--moz-device-pixel-ratio: $ratio),
    only screen and (     -o-min-device-pixel-ratio: #{$ratio}/1),
    only screen and (                min-resolution: #{round($ratio*96)}dpi),
    only screen and (                min-resolution: #{$ratio}dppx) {
        @content;
    }
}
