//  Rem mixin -----------------------------------------------------------------
//
//  Populates a given property with rem values, with px fallback
//
//	@property:	The property to populate, eg "margin" or "padding"
//	@values: 	Comma-separated list of values to be inserted
//
//	Example: @include rem(margin, 10, 20, 30, 40);

@mixin rem ($property, $values...) {

    $max: length($values);
    $pxValues: '';
    $remValues: '';

    @for $i from 1 through $max {
        $value: '';
        @if nth($values, $i) == 'auto' {
            $value: nth($values, $i);
        } @else {
            $value: #{strip(nth($values, $i))}px;
        }

        $pxValues: #{$pxValues + $value};

        @if $i < $max {
            $pxValues: #{$pxValues + ' '};
        }
    }

    @for $i from 1 through $max {
        $value: '';
        @if nth($values, $i) == 'auto' {
            $value: nth($values, $i);
        } @else {
            $value: rem(strip(nth($values, $i)));
        }

        $remValues: #{$remValues + $value};

        @if $i < $max {
            $remValues: #{$remValues + ' '};
        }
    }

    #{$property}: $pxValues;
    #{$property}: $remValues;
}
