//  Button Module -------------------------------------------------------------
//
// Sets some default styles for elements that are usually used for buttons,
// such as <button> and <a> elements

%btn{
    display: inline-block;
    border: none;
    background: none;
    outline: none;
    font-family: $base-font-family;
    text-decoration: none;
    line-height: 1;

    &:disabled {
        opacity: 0.5;
    }
}

// Modifiers ------------------------------------------------------------------
//

/*
%btn--grey {
	@extend %btn;
	@include rem(padding, 15);
	background-color: shade($white, 30);
	color: shade($white,= 70);

	&:hover {
		background-color: shade($white, 20);
	}
	&:active {
		background-color: shade($white, 40);
	}
}
*/
