// Document ---------------------------------------------------------

// Set box-sizing globally to handle padding and border widths
*,
*:before,
*:after {
    box-sizing: border-box;
}

// Global styles
html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    color: $text-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    background: $page-bg;
    line-height: $base-line-height;
}

// Default link styles
//      Eric Meyer order: http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
a {
    color: $color-link; text-decoration: none;
    &:visited { color: $color-link-visited; }
    &:hover { color: $color-link-hover; }
    &:focus { color: $color-link-hover; }
    &:active { color: $color-link-active; }
}

// MS touch-delay fix
// http://msdn.microsoft.com/en-us/library/ie/hh772044(v=vs.85).aspx
a,
input,
button { -ms-touch-action: none !important; }

object,
embed { height: 100%; }
img { -ms-interpolation-mode: bicubic; }

#map_canvas,
.map_canvas {
  img,
  embed,
  object { max-width: none !important; }
}

//
// Global resets for forms
//

// Make sure textarea takes on height automatically
textarea { height: auto; min-height: 50px; }

// Make select elements 100% width by default
select { width: 100%; }
