//
//    Forms
// ---------------------------------------------------------------------------------


// Normalize non-controls
// ----------------------

fieldset,
label {
    @include rem(margin, 0, 0, strip($base-font-size));
    padding: 0;

    &:last-of-type,
    &:last-child { margin-bottom: 0; }
}

label {
    input { @include rem(margin-top, 5); }
}

input,
textarea {
    @include rem(padding, 10, 20, 8);
    border: 1px solid $black;
    background: $white;
    @include rem(border-radius, 5);
    font-family: $base-font-family;
    color: $black;
    line-height: 1.5;

    &:focus {
        background-color: transparent;
    }
}

// Style placeholder text
// Includes class that the IE shim generates
::placeholder,
::-moz-placeholder,
::-webkit-placeholder,
.-placeholder {
    color: #888;
}
