//
//    Tables
// ---------------------------------------------------------------------------------


table {
    max-width: 100%;
}

th {
    text-align: left;
}

// Baseline Styles
// ---------------

table {
    width: 100%;
    margin-bottom: $base-spacing-unit;
    th,
    td {
        padding: em(6);
        line-height: $base-line-height;
        vertical-align: top;
        border-top: 1px solid $gray-lightest;
    }
    // Bottom align for column headings
    th {
        vertical-align: bottom;
        border-top: 0;
        border-bottom: 2px solid $gray-lightest;
    }
}
