// Selection color ------------------------------------------------------------

::-moz-selection {
    background: shade($white, 10);
    text-shadow: none;
}

::selection {
    background: $black;
    text-shadow: none;
}

// Headings -------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
    // Push down following content here
    // @include rem(margin, 0, 0, 30);
    color: $heading-color;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: 1.1;
    text-rendering: optimizeLegibility;

    small {
        font-size: 75%;
        color: lighten($heading-color, 10%);
        line-height: 0;
    }

    &:last-of-type:last-child {
        margin-bottom: 0;
    }

    // Optional: Push in headings for a better hand-held reading experience
    // @include media-max($default-column-breakpoint) { padding-left: em(10); padding-right: em(10); }
}


//    Placeholders
// ---------------------------


//    Default paragraph styles
// ---------------------------

%lead {
    @include rem(font-size, strip($base-font-size) + 4);
    line-height: 1.6;
}

p {

    // Push down following content here
    // @include rem(margin, 0, 0, 30);
    text-rendering: optimizeLegibility;

    &:last-of-type:last-child {
        margin-bottom: 0;
    }

    // Optional: Push in headings for a better hand-held reading experience
    // @include media-max($default-column-breakpoint) { padding-left: em(10); padding-right: em(10); }

    .lead { @extend %lead; }
}



hr {
    border: solid #eee;
    border-width: 1px 0 0;
    clear: both;
    margin: 0 0 $base-spacing-unit;
}


//    Helpful Typography Defaults
// ---------------------------
em,
i {
    font-style: italic;
    line-height: inherit;
}

strong,
b {
    font-weight: 600;
    line-height: inherit;
}

small {
    font-size: 75%;
    line-height: inherit;
}

code {
    color: lighten($text-color, 15%);
    font-family: $code-font-family;
    @include rem(font-size, 14);
}


//    Lists
// ---------------------------
ul,
ol,
dl {
    margin: 0;
    padding: 0 0 0 1em;

    // Push down following content here
    // @include rem(margin, 0, 0, 30);

    &:last-of-type:last-child {
        margin-bottom: 0;
    }
}

//    Unordered Lists
// ---------------------------
ul {
    li {
        ul,
        ol {
            margin-left: $base-spacing-unit;
            margin-bottom: 0;
            font-size: 1em;
        }
    }
    &.square,
    &.circle,
    &.disc {
        li ul { list-style: inherit; }
    }
    &.square { list-style-type: square; }
    &.circle { list-style-type: circle; }
    &.disc { list-style-type: disc; }
    &.no-bullet { list-style: none; }
}


//    Ordered Lists
// ---------------------------
ol {
    li{
        ul,
        ol {
            margin-left: $base-spacing-unit;
            margin-bottom: 0;
        }
    }
}


//    Definition Lists
// ---------------------------
dl {
    dt {
        margin-bottom: em(5);
        font-weight: 600;
    }
    dd {
        margin-bottom: em(12);
    }
}


//    Abbreviations
// ---------------------------
abbr,
acronym {
    font-size: 90%;
    text-transform: uppercase;
    border-bottom: 1px dotted $text-color;
    cursor: help;
}
abbr {
    text-transform: none;
}


//    Blockquotes
// ---------------------------
blockquote {
    margin: 0 0 $base-spacing-unit;
    padding: $base-spacing-unit $base-spacing-unit 0 $base-spacing-unit;
    border-left: 1px solid $text-color;

    cite {
        display: block;
        color: lighten($heading-color, 20%);
        font-size: em(13);
        &:before {
            content: "\2014 \0020";
        }

        a,
        a:visited {
            color: lighten($heading-color, 20%);
        }
    }
}
blockquote,
blockquote p {
    color: lighten($heading-color, 30%);
    line-height: $base-line-height;
}


//    Text Selection
// ---------------------------
* {
    &::-moz-selection { background: $brand-blue; color: $white; text-shadow: 0 1px 1px rgba(0,0,0,0.5); }
    &::-webkit-selection { background: $brand-blue; color: $white; text-shadow: 0 1px 1px rgba(0,0,0,0.5); }
    &::selection { background: $brand-blue; color: $white; text-shadow: 0 1px 1px rgba(0,0,0,0.5); }
}
