// Accent colors -------------------------------------------------------------

$brand-blue                 : #042C64;
$brand-light-blue           : #1379AE;
$brand-green                : #72C245;
$brand-red                  : #CF3837;
$brand-orange               : #F8AE4C;

// Greys ---------------------------------------------------------------------

$white                      : #FFF;
$gray-lightest              : #F1F1F1;
$gray-lighter               : #DDD;
$gray-light                 : #BBB;
$gray                       : #888;
$gray-dark                  : #555;
$gray-darker                : #333;
$gray-darkest               : #1D1D1D;
$black                      : #000;

// Main link colors ----------------------------------------------------------

$color-link                 : $brand-light-blue;
$color-link-visited         : $color-link;
$color-link-hover           : lighten($color-link, 10%);
$color-link-active          : lighten($color-link-hover, 20%);

// Main section colors -------------------------------------------------------

$page-bg                    : #fff;
$main-bg                    : #fff;
$header-bg                  : $brand-blue;

// Text colors ---------------------------------------------------------------

$text-color                 : #666;
$text-color-light           : #aaa;
$heading-color              : #262626;

// Useful to set here when bold webfonts come as 400 font-weight
$bold-font-weight               : bold;

// Font-stack ----------------------------------------------------------------

$base-font-family               : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font-family            : $base-font-family;
$heading-font-weight            : $bold-font-weight;
$code-font-family               : 'Menlo', mono;

$base-spacing-unit              : $base-font-size;

// Breakpoints ---------------------------------------------------------------

$breakpoint-narrow              : em(550);
$breakpoint-mid                 : em(720);
$breakpoint-wide                : em(992);
$breakpoint-huge                : em(1600);
