// Library imports -----------------------------------------------------------
//
// Links to common libraries are included below. Place the files at the root
// of the sass folder.

//@import '../libs/..';
@import "susy";


// Global vars ---------------------------------------------------------------
$min-page-padding               : 4%;
$max-container-width            : 71.25em;
$susy: (
    container: $max-container-width,
    columns: 12,
    gutters: .25,
    math: fluid,
    output: float,
    gutter-position: inside
);

$base-font-size                 : 16px;
$base-line-height               : 1.5;



//$code-font-size                 : em(14);
//$h1-size                        : em(36);
//$h2-size                        : em(30);
//$h3-size                        : em(24);
//$h4-size                        : em(20);
//$h5-size                        : em(16);
//$h6-size                        : em(14);


// Imports ------------------------------------------------------------------

// @import "helpers/helpers";
@import "../mixins/mixins";
@import "functions";
