// Functions ----------------------------------------------------------------

// Strip-units ----------------------------------------------------------------
//
// Converts any typed variable to a regular integer
//
// $number: 	The value you want to unify

@function strip ($number) {
    @return $number / ($number * 0 + 1);
}

// Em -------------------------------------------------------------------------
//
// Converts a target value to em's, based on a context
//
// $target: 	The target integer
// $context: 	Base for conversion, defaults to $doc-em-factor

@function em ($target, $context: $base-font-size) {

    $context: strip($context);
    $target: strip($target);

    @return ($target/$context)*1em;
}

// Rem ------------------------------------------------------------------------
//
// Converts a target value to rem's
//
// $target: 	The target integer

@function rem ($target) {

    $context: strip($base-font-size);
    $target: strip($target);

    @return ($target/$context)*1rem;
}

// Tint -----------------------------------------------------------------------
//
// Add percentage of white to a color
// Taken from Bourbon source

@function tint ($color, $percent) {
    @return mix(white, $color, $percent);
}

// Shade ----------------------------------------------------------------------
//
// Add percentage of black to a color
// Taken from Bourbon source

@function shade ($color, $percent) {
    @return mix(black, $color, $percent);
}
