//
//    Header
// ---------------------------------------------------------------------------------

.header {
    @extend .clearfix;
    background: inherit;
    border-bottom: 1px solid $gray-lightest;
    h1 {
        float: left;
        margin: 0;
        padding: 1em 1em 1em 0;
        > a, a:visited, a:hover {
            color: $color-link;
            text-decoration: none;
        }
    }
}