//
//    Utilities
// ---------------------------------------------------------------------------------


// Clearfix
.clearfix {
    zoom: 1;

    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}


// For image replacement
.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}


// Miscellaneous useful HTML classes
.left,
.alignleft    { float: left; }
.right,
.alignright   { float: right; }
.text-left    { text-align: left; }
.text-right   { text-align: right; }
.text-center  { text-align: center; }
.text-justify { text-align: justify; }


// Hide from both screenreaders and browsers: h5bp.com/u
.is-hidden {
    display: none !important;
    visibility: hidden !important;
}
.is-shown { display: block; }


// Hide only visually, but have it available for screenreaders: h5bp.com/v
.is-visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    // Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}


// Hide visually and from screenreaders, but maintain layout
.is-invisible { visibility: hidden; }


// Font smoothing
// Antialiased font smoothing works best for light text on a dark background.
// Apply to single elements instead of globally to body.
// Note this only applies to webkit-based desktop browsers on the Mac.
.antialiased { -webkit-font-smoothing: antialiased; }